/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: cover 99.5%
*/

@import './reset.css';
@import './typo.css';
@import './theme.css';
@import './fixed.css';
@import './layout.css';
@import '../fonts/fonts.css';

:root {
  font-family: 'Pretendard Variable', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  font-size: 16px;
  font-weight: 400;
  line-height: 1rem;

  color: var(--fg);
  background-color: var(--bg-null);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

#root {
  background-color: var(--bg-body);
}
