.ov-a {
  overflow: auto;
}
.ov-a::-webkit-scrollbar {
  /*width: 4px;*/
  width: 0;
  height: 4px;
}
.ov-a::-webkit-scrollbar-thumb {
  background-color: var(--scroll);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.ov-a::-webkit-scrollbar-track {
  background-color: transparent;
}

.layout {
  background-color: var(--bg-default);
}